@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    @apply bg-white bg-opacity-50 dark:bg-blue-500 dark:bg-opacity-50;
  }
  .body-container {
    @apply bg-white bg-opacity-50 dark:bg-blue-500 dark:bg-opacity-50;
  } */
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  a {
    @apply text-orange-600 underline;
  }
  /* body.dark {
    @apply text-slate-900 overflow-x-hidden overflow-y-visible;
  }
  body {
    @apply overflow-y-visible overflow-x-hidden;
  } */
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
  .self-center {
    align: center;
  }
  .gblue {
    @apply bg-blue-500 dark:bg-zinc-200;
  }
  .gpink {
    @apply bg-blue-200 dark:bg-blue-400;
  }
}

@layer components {
  .cardss {
    @apply sm:max-w-sm;
  }
  /* .excerpt {
    @apply sm:h-16;
  } */
  .parallax-container {
    @apply mx-10;
  }
  .thumb {
    @apply h-auto xs:square hover:scale-105;
  }

  .contact-me {
    @apply mt-0 xs:mt-20 text-blue-900 dark:text-white;
  }
  .contact-me button {
    @apply dark:bg-orange-400 bg-blue-500  dark:text-white text-white
    px-4 py-2 font-semibold text-sm  rounded-md shadow-sm;
  }
  .content-bar {
    @apply flex flex-col;
  }

  .content-container {
    @apply ml-16 dark:text-indigo-900 w-full;
  }
  .sidebar-container {
    @apply fixed flex z-10;
  }

  .sidebar-bar {
    @apply top-0 h-screen w-16 m-0 flex flex-col 
  bg-white text-white shadow-lg 
  dark:bg-gray-900 dark:text-white;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
    bg-gray-300 hover:bg-blue-600 dark:bg-gray-800 
    text-blue-500
     hover:text-white hover:rounded-xl 
    rounded-3xl 
    transition-all duration-300 ease-linear cursor-pointer shadow-lg;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-400 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }

  .fixed-card-height {
    height: 438px;
  }
  .fixed-card-image-height {
    height: 210px;
  }
  .custom-min-height {
    min-height: 415px;
  }
}
